doctype html
html(lang='en')
  head
    title Error
  body
    h1= `Error`
    hr
    h2= `Message`
    p= `${err}`
    p= `Please contect your system admin to resovle this issue.`

    a.home(href=`/home`) Home
    footer