doctype html
html(lang='en')
  head
    title Home Page
    link(href="/style.css" rel="stylesheet" type="text/css")

  body
    h1(class="head") Home Page: Sign in or sign up for a new account!
    form(action='/home', method='GET')
      button(type="submit" class="btn" name="signUp") Sign Up
      button(type="submit" class="btn" name="signIn") Already hava an account? Sign In
 




